$govuk-assets-path: '/static/assets/';
$moj-assets-path: '/static/assets/';

// Removes need to put classes on all elements
$govuk-global-styles: true;

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";

.js-required {
    display: none;
}

@import './glossary';
@import './details';