$govuk-assets-path: '/static/assets/';
$moj-assets-path: '/static/assets/';

// Removes need to put classes on all elements
$govuk-global-styles: true;

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";

.js-required {
    display: none;
}

mark {
    background-color: inherit;
    color: inherit;
    @include govuk-typography-weight-bold($important: false);
}

.extra-skip-link:active, .extra-skip-link:focus {
    margin-bottom: govuk-spacing(3) !important;
}

.column-description {
    @include govuk-media-query($from: desktop) {
        max-width: $govuk-page-width / 2;
    }
}


@import './glossary';
@import './details';
