<div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
  <div class="gem-c-feedback__prompt-content">
    <div class="gem-c-feedback__prompt-questions js-prompt-questions">
      <div class="gem-c-feedback__prompt-question-answer">
        <form action="{{request.path}}" method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="url_path" value="{{ url_path }}">
          <div class="govuk-form-group">
            {% if form.errors %}
              <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                  <h2 class="govuk-error-summary__title">
                    There is a problem
                  </h2>
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                      {% for errored_field, error_messages in form.errors.items %}
                        {% for error in error_messages %}
                          <li>
                            <a href="#{{ errored_field }}">{{ error }}</a>
                          </li>
                        {% endfor %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endif %}
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Can you tell us more?
                </h1>
              </legend>
            </fieldset>
              {% for field in form %}
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    {% if field.widget_type == 'checkbox' %}
                      <div class="govuk-checkboxes__item">
                        {{ field }}
                        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                          {{ field.label }}
                        </label>
                      </div>
                    {% elif field.widget_type == 'radioselect' %}
                      <label class="govuk-label govuk-label--m">{{ field.label }}</label>
                      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        {% for radio in field %}
                          <div class="govuk-radios__item">
                            {{ radio.tag }}
                            <label class="govuk-label govuk-radios__label" for="{{ radio.id_for_label }}">
                              {{ radio.choice_label }}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    {% elif field.widget_type == 'textarea' %}
                      <div class="govuk-form-group govuk-!-padding-top-4">
                        <h2 class="govuk-label-wrapper">
                          <label class="govuk-label govuk-label--m"
                                for="{{ form.how_can_we_improve.id_for_label }}"> {{ field.label }}
                          </label>
                        </h2>
                        {{ field }}
                      </div>
                    {% endif %}
                  </fieldset>
                </div>
              {% endfor %}

              <div class="govuk-button-group">
                <button
                  hx-post="{{request.get_full_path}}"
                  hx-target="#feedback-widget"
                  hx-swap="innerHTML" type="submit" class="govuk-button" data-module="govuk-button">
                  Submit
                </button>
                <a class="govuk-link" href="{{ url_path }}">Cancel</a>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
