{% extends "base/base.html" %}
{% load static %}

{% block breadcrumbs %}
 <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock breadcrumbs %}
{% block content %}

<div class="govuk-grid-row  govuk-!-margin-top-0">
  {% if form.errors %}
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for errored_field, error_messages in form.errors.items %}
            {% for error in error_messages %}
              <li>
                <a href="#{{errored_field}}">{{error}}</a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">{{entity_name}}</span>
    <h1 class="govuk-heading-l app-report-issue-header govuk-!-padding-top-2">{{h1_value}}</h1>
    <h2 class="govuk-heading-s">What is wrong with this information?</h2>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <form action="{{ request.path }}" method="post" novalidate>
      <div class="govuk-form-group {% if form.additional_info.errors %}govuk-form-group--error{% endif %}">
        <div id="more-detail-hint" class="govuk-hint">
          {{form.additional_info.label}}
        </div>
        {% for error in form.additional_info.errors %}
          <p id="additional-info-issued-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{error}}
          </p>
        {% endfor %}
        {{ form.additional_info }}
      </div>
      <div class="govuk-form-group {% if form.send_email_to_reporter.errors %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading" id="{{form.send_email_to_reporter.name}}">
              {{form.send_email_to_reporter.label}}
            </h2>
            <span class="govuk-caption-m govuk-!-padding-top-3">We'll send it to {{request.user.email}}</span>
          </legend>
          {% for error in form.send_email_to_reporter.errors %}
            <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{error}}
            </p>
          {% endfor %}
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            {% for radio in form.send_email_to_reporter %}
            <div class="govuk-radios__item">
              {{radio.tag}}
              <label class="govuk-label govuk-radios__label" for="send_email_to_reporter">
                {{ radio.choice_label }}
              </label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>
        <a class="govuk-link" href="{{ entity_url }}">Cancel</a>
      </div>
      {% csrf_token %}
    </form>
  </div>
  {% endblock content %}
</div>
