{% load static %}
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

  {% include "base/head.html" %}

  <body class="govuk-template__body app-body-class" data-test="My value" data-other="report:details">
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    {% block skiplinks %}
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    {% endblock %}

    {% include "base/navigation.html" %}
    <div class="govuk-width-container app-width-container">
      {% block breadcrumbs %}
      {% endblock breadcrumbs %}

      <main class="govuk-main-wrapper" id="main-content" role="main">
        {% block content %}
        {% endblock content %}
      </main>

    </div>
    {% include "base/footer.html" %}
    <script type="module" href="{% static 'assets/js/govuk-frontend.min.js' %}"></script>
    <script src="{% static 'assets/js/moj-frontend.min.js' %}"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script type="module">
      import {initAll} from "{% static 'assets/js/govuk-frontend.min.js' %}"
      initAll();
      window.MOJFrontend.initAll();
    </script>
    {% block scripts %}
    {% endblock scripts %}
    {% if ENABLE_ANALYTICS %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ANALYTICS_ID }}"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '{{ ANALYTICS_ID }}');</script>
    {% endif %}
  </body>
</html>
