<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-inset-text contact-card-primary govuk-!-margin-top-0">
      <h3>Analytical Platform </h3>

      Query, analyse and model data in a way that's secure, reproducible, and scalable. <a
      class="govuk-link" href="https://controlpanel.services.analytical-platform.service.justice.gov.uk/">Try the Analytical Platform.</a>

    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-inset-text contact-card-secondary govuk-!-margin-top-0">
      <h3>Get help and support</h3>
      If you have questions or feedback about Find MOJ Data, get in touch on <a class="govuk-link" href="mailto:FindMOJData@justice.gov.uk">FindMOJData@justice.gov.uk</a>,
      or via <a class="govuk-link" href="https://moj.enterprise.slack.com/archives/C06NPM2200N">our Slack channel</a>.

    </div>
  </div>
</div>
