<div id="feedback-widget" data-module="feedback ga4-event-tracker" class="gem-c-feedback govuk-!-display-none-print">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__prompt-content">
      <div class="gem-c-feedback__prompt-questions js-prompt-questions">
        <div class="gem-c-feedback__prompt-question-answer">
          {% if 'search' in request.path or 'details' in request.path %}
            <h2 class="gem-c-feedback__prompt-question">Did you find what you where looking for?</h2>
          {% else %}
            <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>
          {% endif %}
          <ul class="gem-c-feedback__option-list">
            <li class="gem-c-feedback__option-list-item">
              <button
                class="govuk-button gem-c-feedback__prompt-link js-page-is-useful"
                hx-get="{% url 'feedback:yes' %}?url_path={{ request.get_full_path }}"
                hx-target="#feedback-widget"
                hx-swap="innerHTML"
                data-ga4-event="{&quot;event_name&quot;:&quot;form_submit&quot;,&quot;type&quot;:&quot;feedback&quot;,&quot;text&quot;:&quot;Yes&quot;,&quot;section&quot;:&quot;Is this page useful?&quot;,&quot;tool_name&quot;:&quot;Is this page useful?&quot;}"
              >
                Yes <span class="govuk-visually-hidden">this page is useful</span>
              </button>
            </li>
            <li class="gem-c-feedback__option-list-item">

              <button
                class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful"
                aria-controls="page-is-not-useful"
                hx-get="{% url 'feedback:no' %}?url_path={{ request.get_full_path }}"
                hx-target="#feedback-widget"
                hx-swap="innerHTML"
                data-ga4-event="{&quot;event_name&quot;:&quot;form_submit&quot;,&quot;type&quot;:&quot;feedback&quot;,&quot;text&quot;:&quot;No&quot;,&quot;section&quot;:&quot;Is this page useful?&quot;,&quot;tool_name&quot;:&quot;Is this page useful?&quot;}"
              >
                No <span class="govuk-visually-hidden">this page is not useful</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      {% if 'details' not in request.path %}
        <div
          class="gem-c-feedback__prompt-questions gem-c-feedback__prompt-questions--something-is-wrong js-prompt-questions">
          <button
            class="govuk-button gem-c-feedback__prompt-link js-toggle-form js-something-is-wrong"
            aria-controls="something-is-wrong"
            hx-get="{% url 'feedback:report' %}?url_path={{request.get_full_path}}"
            hx-target="#feedback-widget"
            hx-swap="innerHTML"
            data-ga4-event="{&quot;event_name&quot;:&quot;form_submit&quot;,&quot;type&quot;:&quot;feedback&quot;,&quot;text&quot;:&quot;Report a problem with this page&quot;,&quot;section&quot;:&quot;Is this page useful?&quot;,&quot;tool_name&quot;:&quot;Is this page useful?&quot;}"
          >
            Report a problem with this page
          </button>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="feedback-form">

</div>
