{% load static %}
{% load page_title %}

<head>
  <meta charset="utf-8">
  <title>{{h1_value|render_title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="blue">
  <link rel="icon" sizes="48x48" href="{% static 'assets/images/favicon.ico' %}">
  <link rel="icon" sizes="any" href="{% static 'assets/images/favicon.svg' %}" type="image/svg+xml">
  <link rel="mask-icon" href="{% static 'assets/images/govuk-icon-mask.svg' %}" color="blue">
  <link rel="apple-touch-icon" href="{% static 'assets/images/govuk-icon-180.png' %}">
  <link rel="manifest" href="{% static 'assets/manifest.json' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}">
  <meta property="og:image" content="{% static 'assets/images/govuk-opengraph-image.png' %}">
  <meta name="robots" content="noindex, nofollow" />
</head>
