@use "../vars";
@use "node_modules/govuk-frontend/dist/govuk" as *;

// Base enhancements to search fields
.app-search {
  .govuk-input[type="search"] {
    &:focus {
      z-index: 1;
    }

    // Enhance the close button.
    // Note: this is a non-standard CSS feature and will not do anything in Firefox.
    // https://caniuse.com/mdn-css_selectors_-webkit-search-cancel-button
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      background-image: url(#{vars.$app-images-path}/icon-close-cross-black.svg);
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      height: 15px;
      margin-left: 0;
      margin-right: 2px;
      width: 15px;
    }
  }
}

// Variant with search button adjacent to the input
.app-search--compact {
  display: flex;
  gap: 10px;

  .govuk-input[type="search"] {
    background-color: $govuk-body-background-colour;

    &:focus {
      border: 3px solid $govuk-focus-colour;
      z-index: 1;
    }
  }

  svg {
    height: 100%;
  }

  button {
    background-color: $govuk-body-background-colour;
    border: 0;
    color: govuk-colour("black");
    cursor: pointer;
    height: 40px;
    margin-bottom: 0;
    padding: 0;
    width: 40px;

    &:hover {
      background-color: #e9f1f8;
    }

    &:focus {
      background-color: $govuk-focus-colour;
      border: 0;
      border-bottom: 2px solid govuk-colour("black");
      outline: 0;
    }
  }
}

.app-search--on-govuk-blue {
  .govuk-input[type="search"] {
    border: 0;

    &:focus {
      border: 3px solid $govuk-focus-colour;
    }
  }
}

.app-search--results {
  .govuk-input[type="search"] {
    border: 2px solid $govuk-input-border-colour;

    &:focus {
      border: 3px solid $govuk-focus-colour;
    }
  }

  button {
    background-color: #0f7a52;
    border: 0;
    border-bottom: 2px solid #083d29;
    color: govuk-colour("white");

    &:hover {
      background-color: #083d29;
      border-bottom-color: #083d29;
    }

    &:focus {
      background-color: $govuk-focus-colour;
      border-bottom-color: govuk-colour("black");
      color: govuk-colour("black");
    }
  }
}

.govuk-body-m mark {
  display: inline;
  font-weight: 700;
  background-color: #ffe5cc;
  box-shadow: 0 -2px 0 #ffb266 inset;
}

.found-in {
  color: $govuk-secondary-text-colour;
  margin-bottom: 10px;
}
.govuk-tag-search {
  @extend .govuk-tag--grey;
  background-color: govuk-colour("black", $variant: "tint-95");
}
