{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{h1_value}}</h1>
          <p class="govuk-body">
            {% translate "The DataHub catalogue is currently unavailable. Please try again in a few minutes." %}
          </p>
          {% include "partial/contact_team.html" %}
        </div>
      </div>
    </main>
  </div>

{% endblock content %}
