{% extends "base/base.html" %}
{% load static %}
{% block content %}

{% block breadcrumbs %}
      <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock breadcrumbs %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Accessibility statement for Find MoJ data website</h1>

                <p class="govuk-body">This accessibility statement applies to the Find MoJ data website at find-moj-data.service.justice.gov.uk. It does not cover other sites or content Find MoJ data links to.</p>

                <p class="govuk-body">This website was built by the Find MoJ data team at the Ministry of Justice (MoJ) using a template developed by the Government Digital Service (GDS). The Find MoJ data team is responsible for the content of this website.</p>

                <h2 class="govuk-heading-m">What this website should do</h2>

                <p class="govuk-body">We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>change colours, contrast levels and fonts</li>
                    <li>zoom in up to 400% without the text spilling off the screen</li>
                    <li>navigate the site using just a keyboard</li>
                    <li>navigate the site using speech recognition software</li>
                    <li>listen to the site using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
                </ul>

                <p class="govuk-body">We have also made the text as simple as possible to understand.</p>

                <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

                <h2 class="govuk-heading-l">Feedback and contact information</h2>

                <p class="govuk-body">If you have problems using this site or need additional support, contact the Find MoJ data team by email at <a href="mailto:findmojdata@justice.gov.uk" class="govuk-link">findmojdata@justice.gov.uk</a>.</p>

                <p class="govuk-body">We'll consider your request and get back to you in 3 working days.</p>

                <h2 class="govuk-heading-l">Reporting accessibility problems with this site</h2>

                <p class="govuk-body">We're always looking to improve the accessibility of this site. If you find any problems or think we're not meeting accessibility requirements, contact the Find MoJ data team by email at <a href="mailto:findmojdata@justice.gov.uk" class="govuk-link">findmojdata@justice.gov.uk</a>.</p>

                <h2 class="govuk-heading-l">Enforcement procedure</h2>

                <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.</p>

                <h2 class="govuk-heading-l">Technical information about this site's accessibility</h2>

                <p class="govuk-body">We are committed to making this site accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

                <h3 class="govuk-heading-m">Compliance status</h3>

                <div class="govuk-inset-text">
                    <p class="govuk-body">This website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
                    <p class="govuk-body">It is partially compliant with the Web Content Accessibility Guidelines version 2.2 AA standard, due to the non-compliances listed below.</p>
                </div>

                <h2 class="govuk-heading-l">Non-accessible content</h2>

                <div class="govuk-inset-text">
                    <p class="govuk-body">The following content on <a href="https://findmojdata.service.justice.gov.uk/" class="govuk-link">Find MoJ data</a> is not compliant with the WCAG version 2.2 AA standard. </p>
                </div>

                <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
                
                  <h4 class="govuk-heading-s">
                    Level A failures
                  </h4>
                
                  <p class="govuk-body">
                    <ul class="govuk-list govuk-list--bullet">
                      <li>Breadcrumb navigation links are announced the same way as other links to screen reader users, who may not mistake breadcrumbs for the main navigation menu (WCAG success criterion 1.3.1 and 4.1.2)  </li>
                    </ul>
                  </p>


                <h2 class="govuk-heading-l">Content outside the scope of the accessibility regulations</h2>

                <h3 class="govuk-heading-m">PDFs and other documents</h3>

                <p class="govuk-body">We are not responsible for documentation produced and published by other teams. If an entry on Find MoJ data links to PDFs or other inaccessible content, contact the relevant team for alternative versions.</p>

                <h3 class="govuk-heading-m">Other services or websites</h3>

                <p class="govuk-body">We are not responsible for other services and websites which Find MoJ data links to. If you have an accessibility concern, check the relevant website's accessibility statement.</p>

                <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

                <p class="govuk-body">This statement was prepared on 28 March 2025. It was last reviewed on 03 April 2025.</p>

                <p class="govuk-body">This website was last tested on 25 March 2025 against the WCAG 2.2 AA standard.</p>

                <p class="govuk-body">The most viewed pages were tested using automated testing tools by our website team in August 2024.</p>

                <p class="govuk-body">A further accessibility audit was conducted by external specialists during March 2025 against the WCAG 2.2 AA standard.</p>
            </div>
        </div>
    </main>
</div>

{% endblock content %}
