{% extends "base/base.html" %}
{% load static %}
{% block content %}

<body>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Accessibility statement for Find MoJ Data</h1>

                    <p class="govuk-body">This accessibility statement applies to the Find MoJ data website at find-moj-data.service.justice.gov.uk.</p>

                    <p class="govuk-body">This site was built by the data catalogue team at the Ministry of Justice (MoJ) using a template developed by the Government Digital Service (GDS). The data catalogue team is responsible for the content of this site.</p>

                    <p class="govuk-body">We want as many people as possible to be able to use this site. For example, that means you should be able to:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>change colours, contrast levels and fonts</li>
                        <li>zoom in up to 300% without the text spilling off the screen</li>
                        <li>navigate the site using just a keyboard</li>
                        <li>navigate the site using speech recognition software</li>
                        <li>listen to the site using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>

                    <p class="govuk-body">We have also made the text as simple as possible to understand.</p>

                    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

                    <h2 class="govuk-heading-l">Feedback and contact information</h2>

                    <p class="govuk-body">If you have problems using this site or need additional support, contact the data catalogue team using one of the following methods:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>Via Slack in the <a href="https://moj.enterprise.slack.com/archives/C06NPM2200N" class="govuk-link">#ask-data-catalogue</a> channel</li>
                        <li>Via MS Teams in the <a href="https://teams.microsoft.com/l/channel/19%3ADLPKc8R2DlEnBUFYvEkV5qOcp1_FtzLNvDQjSpHDbkg1%40thread.tacv2/Ask%20Find%20MoJ%20Data?groupId=f6c3cb3b-591c-4e47-9997-25b6dc9bf5b6&tenantId=c6874728-71e6-41fe-a9e1-2e8c36776ad8&ngc=true&allowXTenantAccess=true" class="govuk-link">Ask Find MoJ Data</a> channel</li>
                        <li>Via email at <a href="mailto:findmojdata@justice.gov.uk" class="govuk-link">findmojdata@justice.gov.uk</a></li>
                    </ul>

                    <p class="govuk-body">We'll consider your request and get back to you in 3 working days.</p>

                    <h2 class="govuk-heading-l">Reporting accessibility problems with this site</h2>

                    <p class="govuk-body">We're always looking to improve the accessibility of this site. If you find any problems or think we're not meeting accessibility requirements, contact the data catalogue team using one of the methods listed above.</p>

                    <h2 class="govuk-heading-l">Enforcement procedure</h2>

                    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.</p>

                    <h2 class="govuk-heading-l">Technical information about this site's accessibility</h2>

                    <p class="govuk-body">We are committed to making this form accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

                    <h3 class="govuk-heading-m">Compliance status</h3>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">[Choose one of the options below, for example, (a), (b), or (c) and delete those not applicable.]</p>
                        <p class="govuk-body">[Select (a) only if all requirements of the technical specification are fully met without exceptions for WCAG version 2.2.]</p>
                        <p class="govuk-body">(a) This website is fully compliant with the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard.</p>
                        <p class="govuk-body">[Select (b) if most requirements of the technical specification are met, but with some exceptions. This means not yet fully compliant and that the necessary measures are to be taken in order to reach full compliance.]</p>
                        <p class="govuk-body">(b) This website is partially compliant with the Web Content Accessibility Guidelines version 2.2 AA standard, due to [the non-compliance(s)] [and/or] [the exemptions] listed below.</p>
                    </div>

                    <h2 class="govuk-heading-l">Non-accessible content</h2>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">[Note: if the website is fully compliant with the standard, you can leave the 'Non-accessible content' section out.</p>
                        <p class="govuk-body">Otherwise, do not change the 'Non-accessible content' heading or the 'The content listed below is non-accessible for the following reasons' sentence - they're legally required.</p>
                        <p class="govuk-body">Do not change the 'Non-compliance with the accessibility regulations', 'Disproportionate burden' and 'Content that's not within the scope of the accessibility regulations' subheadings: they're also legally required.</p>
                        <p class="govuk-body">But if you need to list a lot of problems, you can break these subsections up with further subheadings - for example, 'Navigation and accessing information' or 'Interactive tools and transactions'.]</p>
                    </div>

                    <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">[Note: In this subsection, list: accessibility problems which of the WCAG success criteria the problem fails on when you plan to fix the problem. Do not include any problems where you're claiming disproportionate burden, or where the problem is outside the scope of the accessibility regulations (those should go in the subsections below).</p>
                        <p class="govuk-body">These are examples only. Your statement must be specific to your website.]</p>
                    </div>

                    <h3 class="govuk-heading-m">Disproportionate burden</h3>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">[Note: in this subsection list accessibility problems you're claiming would be a disproportionate burden to fix.</p>
                        <p class="govuk-body">You must carry out <a href="https://www.gov.uk/guidance/public-sector-website-and-mobile-application-accessibility-monitoring#disproportionate-burden-claims-and-assessment" class="govuk-link">an assessment</a> before claiming disproportionate burden.</p>
                        <p class="govuk-body">Bear in mind that something which is a disproportionate burden now will not necessarily be a disproportionate burden forever. If the circumstances change, your ability to claim disproportionate burden may change too.</p>
                        <p class="govuk-body">These are examples only. Your statement should be specific to your website.]</p>
                    </div>

                    <h2 class="govuk-heading-l">Content that's not within the scope of the accessibility regulations</h2>

                    <h3 class="govuk-heading-m">PDFs and other documents</h3>

                    <p class="govuk-body">We are not responsible for documentation produced and published by other teams. If catalogue entries link to PDFs or other guidance documents and pages which are not accessible, please contact the relevant team for alternative versions.</p>

                    <h3 class="govuk-heading-m">Other services or websites</h3>

                    <p class="govuk-body">Some catalogue entries contain links to other sites or services. Please refer to those sites for their accessibility statements.</p>

                    <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>

                    <p class="govuk-body">This statement was prepared on [date when it was first published]. It was last reviewed on [date when it was last reviewed].</p>

                    <p class="govuk-body">This website was last tested on [date] against the WCAG 2.2 AA standard.</p>

                    <p class="govuk-body">The most viewed pages were tested using automated testing tools by our website team in August 2024.</p>

                    <p class="govuk-body">A further accessibility audit was conducted by external specialists UserVision during March 2025 against the WCAG 2.2 AA standard.</p>
                </div>
            </div>
        </main>
    </div>
</body>

{% endblock content %}
