{% extends "details_base.html" %}
{% load markdown %}

{% block extra_details %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if entity.column_details %}
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Table schema</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Column name</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Type</th>
              <th scope="col" class="govuk-table__header">Is Nullable</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for column in entity.column_details %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{column.display_name}}</td>
                <td class="govuk-table__cell column-description">{{column.description|default:''|markdown:3|truncatechars_html:300}}</td>
                <td class="govuk-table__cell">{{column.type|title}}</td>
                <td class="govuk-table__cell">{{column.nullable|yesno:"Yes,No,"}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h2 class="govuk-heading-m">Table schema</h2>
        <p class="govuk-body">The schema for this table is not available.</p>
      {% endif %}
      {% if has_lineage %}
        <h2 class="govuk-heading-m">Lineage</h2>
        <div class="govuk-body-m" >
          If you are interested to find out what data were used to create this table or if this table is used to create any further tables, you can see that information via the lineage.
        </div class="govuk-body-m">
        <div class="govuk-body">
          <a href="{{lineage_url}}" class="govuk-link" rel="noreferrer noopener" target="_blank">
            View lineage in DataHub (opens in new tab)
          </a>
        </div>
      {% endif %}
    </div>
{% endblock extra_details %}
