{% extends "details_base.html" %}
{% load markdown %}

{% block extra_details %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if publications %}
        <div class="govuk-heading-m">Publication collection content</div>
          {% include "partial/details_aggregator_generic.html" with items=publications title="Publication collection content" name_column="Publication" description_column="Description" %}
      {% else %}
        <h2 class="govuk-heading-m">Publication Collection content</h2>
        <p class="govuk-body">This Publication Collection is missing Publications information.</p>
      {% endif %}
      {% include "partial/access_data.html" %}
    </div>
  </div>

{% endblock extra_details %}
