{% extends "base/base.html" %}
{% load static %}
{% load markdown %}
{% load humanize %}
{% load future %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{%url 'home:search' %}?{{request.session.last_search|default:''}}">Search</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{{request.path}}">{{chart.name}}</a>
            </li>
        </ol>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{h1_value}}
                <strong class="govuk-tag govuk-!-margin-left-2">
                    Chart
                </strong>
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="summary-card">
                <h3 class="govuk-heading-s govuk-!-margin-top-3">
                    Description
                </h3>
                <div class="govuk-body">
                    {{chart.description|markdown:3}}
                </div>
                <ul class="govuk-list govuk-body" id="metadata-property-list">
                    <li>
                        <span class="govuk-!-font-weight-bold">Last updated date:</span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Retention period:</span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Refresh period:</span>
                    </li>
                    <li>
                        <span class="govuk-!-font-weight-bold">Domain:</span>
                    </li>
                    <li>
                        {% if chart.tags_to_display %}
                            <li>
                                <span class="govuk-!-font-weight-bold">Tags:</span>
                                {% for tag in chart.tags_to_display %}
                                    <a aria-label="link to search results for all entities tagged {{ tag }}" href="{% url 'home:search' %}{% query_string clear_label=None clear_filter=None new=None tags=tag%}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            {% include "partial/contact_info.html" with data_owner=chart.governance.data_owner.display_name data_owner_email=chart.governance.data_owner.email slack_channel=chart.custom_properties.further_information %}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-s govuk-!-margin-top-3">
                URL
            </h2>
            <div class="govuk-body">
                <a href="{{chart.external_url}}" class="govuk-link">
                    {{chart.external_url}}
                </a>
            </div>
        </div>
    </div>

{% endblock content %}
