{% extends "details_base.html" %}
{% load markdown %}
{% load i18n %}

{% block extra_details %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if entity.column_details %}
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">{% translate "Table schema" %}</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{% translate "Column name" %}</th>
              <th scope="col" class="govuk-table__header">{% translate "Description" %}</th>
              <th scope="col" class="govuk-table__header">{% translate "Type" %}</th>
              <th scope="col" class="govuk-table__header">{% translate "Is Nullable" %}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for column in entity.column_details %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{column.display_name}}</td>
                <td class="govuk-table__cell column-description">
                {% if table.description %}
                  {{column.description|default:''|markdown:3|truncatechars_html:300}}</td>
                {% else %}
                  <p class="govuk-visually-hidden">Description for {{column.display_name}} does not exist</p>
                {% endif %}
                </td>
                <td class="govuk-table__cell">{{column.type|title}}</td>
                <td class="govuk-table__cell">{{column.nullable|yesno:"Yes,No,"}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h2 class="govuk-heading-m">{% translate "Table schema" %}</h2>
        <p class="govuk-body">{% translate "The schema for this table is not available." %}</p>
      {% endif %}
      {% if has_lineage %}
        <h2 class="govuk-heading-m">{% translate "Lineage" %}</h2>
        <div class="govuk-body-m" >
          {% translate "See where this data came from and how it is used in other tables." %}
        </div class="govuk-body-m">
        <div class="govuk-body">
          <a href="{{lineage_url}}" class="govuk-link" rel="noreferrer noopener" target="_blank">
            {% translate "View lineage in DataHub (opens in new tab)" %}
          </a>
        </div>
      {% endif %}
    </div>
{% endblock extra_details %}
