{% extends "details_base.html" %}
{% load markdown %}

{% block extra_details %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if entity.custom_properties.security_classification == "Official-Sensitive" %}
        {% include "partial/access_ap_data.html" with access_requirements=entity.custom_properties.access_information.dc_access_requirements is_access_requirements_a_url=is_access_requirements_a_url entity_name=entity.name %}
      {% endif %}
      {% if tables %}
      <div class="govuk-heading-m">Database content</div>
        {% include "partial/download_button.html" with entity_type='database' title="table descriptions" %}
        {% include "partial/details_container.html" with items=tables title="Database content" name_column="Table name" description_column="Description" %}
      {% else %}
        <h2 class="govuk-heading-m">Database content</h2>
        <p class="govuk-body">This database is missing table information.</p>
      {% endif %}
    </div>
  </div>

{% endblock extra_details %}
