{% extends "base/base.html" %}
{% load static %}
{% load markdown %}
{% load humanize %}
{% load waffle_tags %}
{% load i18n %}
{% load page_title %}
{% load format_timesince %}

{% block title %}
  {% with details_title=h1_value|add:" - "|add:entity_type %}
    {{details_title|render_title}}
  {% endwith %}
{% endblock %}

{% block breadcrumbs %}
  <div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{%url 'home:search' %}?{{request.session.last_search|default:''}}">{% translate "Search" %}</a>
      </li>
      {% if parent_entity %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="{% url 'home:details' result_type=parent_type urn=parent_entity.urn %}">{{parent_entity.display_name}}</a>
        </li>
      {% endif %}
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{request.path}}">{{entity.name}}</a>
      </li>
    </ol>
  </div>
{% endblock breadcrumbs %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{h1_value}}
        <strong class="govuk-tag govuk-!-margin-left-2">
          {{entity_type}}
        </strong>
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-summary-card">
        <h2 class="govuk-heading-s govuk-!-margin-top-3">
          {% translate "Description" %}
        </h2>
        <div class="govuk-body">
          {% if entity.description %}
            {{entity.description|markdown:3}}
          {% else %}
            {% translate "No description available." %}
          {% endif %}
        </div>
        {% block extra_description %}
        {% endblock extra_description %}
        {% block metadata_list %}
          <ul class="govuk-list govuk-body" id="metadata-property-list">
            {% if entity.created %}
              <li>
                <span class="govuk-!-font-weight-bold">{% translate "First created:" %}</span>
                {{entity.created | date:"jS F Y"}} ({{entity.created|naturaltime}})
              </li>
            {% endif %}
            {% if entity.data_last_modified and entity.platform.urn != PlatformUrns.CADET %}
              <li>
                <span class="govuk-!-font-weight-bold">{% translate "Last updated:" %}</span>
                {{entity.data_last_modified | date:"jS F Y"}}
              </li>
            {% endif %}
              <li>
                <span class="govuk-!-font-weight-bold">Refresh Period:</span>
                {{entity.custom_properties.data_summary.refresh_period | default:_('Not provided') }}
              </li>
            {% if entity.custom_properties.audience %}
              <li>
                <span class="govuk-!-font-weight-bold">Audience:</span>
                {{entity.custom_properties.audience}}
              </li>
            {% endif %}
            <!-- {% if entity.last_datajob_run_date %}
              <li>
                <span class="govuk-!-font-weight-bold">Data last updated:</span>
                {{entity.last_datajob_run_date|date:"d M Y"}}
              </li>
            {% endif %} -->
            <li>
              <span class="govuk-!-font-weight-bold">{% translate "Domain:" %}</span>
              {{entity.domain.display_name | default:_('Not provided') }}
            </li>
            {% switch 'display-result-tags' %}
              {% if entity.tags_to_display %}
                <li>
                  <span class="govuk-!-font-weight-bold">Tags:</span>
                  {% for tag in entity.tags_to_display %}
                    <a aria-label="link to search results for all entities tagged {{ tag }}" href="{% url 'home:search' %}{% querystring clear_label=None clear_filter=None new=None tags=tag%}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </li>
              {% endif %}
            {% endswitch %}
          </ul>
          {% include "partial/esda_info.html" with is_esda=is_esda %}
        {% endblock metadata_list %}
        {% if entity.metadata_last_ingested %}
          <div class="govuk-body-s app-summary-card__footer">
            Entry last updated {{entity.metadata_last_ingested|timesince|format_timesince}} ago
          </div>
        {% endif %}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "partial/contact_info.html" with entity_name=entity.name governance=entity.governance further_information=entity.custom_properties.further_information access_requirements=entity.custom_properties.access_information.dc_access_requirements is_access_url=is_access_requirements_a_url platform=entity.platform %}
    </div>
  </div>

  {% block extra_details %}
  {% endblock extra_details %}
{% endblock content %}
