{% extends "details_base.html" %}
{% load markdown %}
{% load i18n %}

{% block extra_details %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if charts %}
        <table class="govuk-table app-table-responsive">
          <caption class="govuk-table__caption govuk-table__caption--m">{% translate "Dashboard content" %}</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">{% translate "Chart name" %}</th>
              <th scope="col" class="govuk-table__header app-custom-class">{% translate "Description" %}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body app-table-responsive__body">
            {% for chart in charts %}
              {% with chart_type=chart.entity_type|lower %}
                <tr class="govuk-table__row app-table-responsive__row">
                  <td class="govuk-table__cell"><span class="app-table-responsive__heading">Chart name:</span><a href="{% url 'home:details' result_type=chart_type urn=chart.entity_ref.urn %}" class="govuk-link">{{chart.entity_ref.display_name}}</a></td>
                  <td class="govuk-table__cell"><span class="app-table-responsive__heading">Description:</span>
                  {% if chart.description %}
                  <div>
                    {{ chart.description|markdown:3|truncatewords_html:25 }}
                  </div>
                  {% else %}
                  <p class="govuk-visually-hidden">A description for {{chart.entity_ref.display_name}} does not exist</p>
                  {% endif %}
                  </td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h2 class="govuk-heading-m">{% translate "Dashboard content" %}</h2>
        <p class="govuk-body">{% translate "This dashboard is missing chart information." %}</p>
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s govuk-!-margin-top-3">
        {% translate "Access this data" %}
      </h2>
      <div class="govuk-body">
        <a href="{{entity.external_url}}" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ platform_name }}</a> {% translate "(opens in new tab)" %}
      </div>
    </div>
  </div>

{% endblock extra_details %}
