{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="govuk-width-container">
  <a onclick="history.back()" class="govuk-back-link">Back</a>
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">            
          <h2 class="govuk-heading-l">{{result.title}}</h2>
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-summary-card__title-wrapper" >
            <dl class="govuk-summary-list govuk-summary-list--no-border">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Registered by</dt>
                <dd class="govuk-summary-list__value">
                {{result.registered_by}}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Domain name</dt>
                <dd class="govuk-summary-list__value">
                {{result.domain_name}}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Database name</dt>
                <dd class="govuk-summary-list__value">
                {{result.database_name}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">First created</dt>
                <dd class="govuk-summary-list__value">
                {{result.first_created}}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Refresh period</dt>
                <dd class="govuk-summary-list__value">
                {{result.refresh_period}}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Retention period</dt>
                <dd class="govuk-summary-list__value">
                {{result.retention_period}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">DPIA Status </dt>
                <dd class="govuk-summary-list__value">
                {{result.dpia}}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Tags</dt>
                <dd class="govuk-summary-list__value">
                {{ result.tags |join:", " }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Description</dt>
                <dd class="govuk-summary-list__value">
                  {{result.summary}}
                </dd>
              </div>
            </dl>
            </div>
            <br/>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Database content</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header app-custom-class">Table name</th>
                  <th scope="col" class="govuk-table__header app-custom-class">Description</th>
                  <th scope="col" class="govuk-table__header app-custom-class">Schema Details</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Table 1</th>
                  <td class="govuk-table__cell">This is description about the table</td>
                  <td class="govuk-table__cell">  <a href="#" class="govuk-link">Schema details</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Table 2</th>
                  <td class="govuk-table__cell">This is description about the table</td>
                  <td class="govuk-table__cell">  <a href="#" class="govuk-link">Schema details</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Table 3</th>
                  <td class="govuk-table__cell">This is description about the table</td>
                  <td class="govuk-table__cell">  <a href="#" class="govuk-link">Schema details</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="govuk-grid-column-one-third">

            <dl class="govuk-summary-list govuk-summary-list--no-border">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Registered by</dt>
                <dd class="govuk-summary-list__value">
                {{result.registered_by}}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Domain name</dt>
                <dd class="govuk-summary-list__value">
                {{result.domain_name}}
                </dd>
              </div>
              </dl>
          </div>
        </div>
      </main>
</div>
{% endblock content %}
