{% extends "base/base.html" %}
{% load markdown %}
{% load static %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{h1_value}}</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter" id="sticky-sidebar">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-3">On this page</h2>
            <ul class="govuk-list">
                {% for parent_term in results %}
                    <li class="govuk-!-margin-bottom-3">
                        <div><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline glossary-nav-link" data-name="{{parent_term.name}}" data-action="clear-filter" href="#{{ parent_term.name }}">
                            {{ parent_term.name }}
                        </a></div>
                    </li>
                {% endfor %}
            </ul>
            <div class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-4"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#top">Back to top</a></div>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Search</h2>
            <div role="search" class="app-search govuk-form-group govuk-!-margin-bottom-6 js-required">
                <label for="filter-input" class="govuk-label govuk-visually-hidden-focusable">Search this page (the content will be updated as you type)</label>
                <input class="govuk-input" id="filter-input" type="search">
            </div>
            <div class="govuk-!-display-none" id="no-results-panel">
                <h2 class="govuk-heading-m">No terms found</h2>
                <p class="govuk-body">There are no terms in the glossary matching your search query.</p>
            </div>
            <div id="glossary-content">
                {% for parent_term in results %}
                <div class="term-group" data-name="{{ parent_term.name }}">
                    <h2 class="govuk-heading-m" id="{{ parent_term.name }}">{{ parent_term.name }}</h2>
                    <div class="govuk-body">{{ parent_term.description }}</div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    {% for member in parent_term.members %}
                        <div data-term="{{member.name|upper}}" class="term govuk-!-margin-bottom-5">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-3" id="{{ member.name }}">
                                {% if parent_term.has_entities %}
                                    <a href="{% url 'home:glossary_term' urn=member.urn %}">{{ member.name }}</a>
                                {% else %}
                                    {{ member.name }}
                                {% endif %}
                            </h3>
                            <div class="govuk-body">{{ member.description|markdown:3 }}</div>
                        </div>
                    {%endfor%}
                    <br>
                </div>
                {%endfor%}
            </div>
            <div class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#top">Back to top</a>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script type="module">
        import {init} from "{% static 'assets/js/enhanced-glossary.js' %}"
        init();
    </script>
{% endblock scripts %}
