{% extends "base/base.html" %}
{% load markdown %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h1 class="govuk-heading-l">Glossary</h1>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="search-container govuk-form-group govuk-!-margin-bottom-8">
        <label for="{{ form.query.id_for_label }}" class="govuk-label govuk-visually-hidden-focusable">Search MOJ Data</label>
        <input class="govuk-input search-input" placeholder="Filter this page">
        <button class="search-button" type="submit" id="search-button">
          <svg aria-hidden="true" class="search-icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="40" height="40">
            <path d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z" fill="currentColor"></path>
          </svg>
          <label for="search-button" class="govuk-label govuk-visually-hidden-focusable">Search MOJ Data</label>
        </button>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter" id="sticky-sidebar">
        <ul class="govuk-list">
            {% for parent_term in results %}
            <li>
                <div><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#{{ parent_term }}">
                    <strong>{{ parent_term.name }}</strong>
                </a></div>
                {% for member in parent_term.members %}
                    <div><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#{{ member.name }}">
                        {{ member.name }}
                    </a></div>
                {%endfor%}
                <br>
            </li>
            {%endfor%}
        </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">
        {% for parent_term in results %}
        <div class="term-group">
            <h1 class="govuk-heading-l" id="{{ parent_term }}">{{ parent_term.name }}</h1>
            <p class="govuk-body-l">{{ parent_term.description }}</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>
            {% for member in parent_term.members %}
            <div class="term">
                <h2 class="govuk-heading-m" id="{{ member.name }}">{{ member.name }}</h2>
                <p class="govuk-body">{{ member.description|markdown }}</p>
            </div>
            {%endfor%}
            <br>
        {%endfor%}
    </div>
</div>

{% endblock content %}
