{% extends "base/base.html" %}
{% load static %}

{% block main %}
  <main class="main-wrapper-with-masthead" id="main-content" role="main">
    <div class="fmj-masthead">
      <div class="govuk-width-container app-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl fmj-masthead__title">Find MOJ data</h1>

            <form action="{% url 'home:search' %}" method="get" role="search" class="govuk-!-margin-bottom-0">
              <label
                for="search-input"
                class="govuk-label govuk-label--m"
              >Search metadata catalogue</label>
              <div
                class="fmj-search fmj-search--compact fmj-search--on-govuk-blue govuk-form-group govuk-!-padding-bottom-0 govuk-!-margin-bottom-2"
              >
                <input id="search-input" class="search-input govuk-input" type="search" />
                <button type="submit">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 36 36"
                    width="40"
                    height="40"
                  >
                    <path
                      d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z"
                      fill="currentColor"
                    ></path>
                  </svg>
                  <label
                    class="govuk-label govuk-visually-hidden-focusable"
                  >Search</label
                    >
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="govuk-main-wrapper govuk-main-wrapper--l">
        <div class="govuk-width-container app-width-container">
          {% if domains.top_level_domains %}
            <h2 id="browse-by-domain" class="govuk-heading-l">Browse by domain</h2>
            <ul id="domain-list" class="govuk-list govuk-list--bullet">
              {% for domain in domains.top_level_domains  %}
                <li><a href="{% url 'home:search' %}?domain={{domain.urn}}">{{domain.label}}</a></li>
              {% endfor %}
            </ul>

            <details class="govuk-details">
              <summary class="govuk-details__summary  govuk-!-margin-top-4">
                <span class="govuk-details__summary-text">
                  What are domains?
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>Data in the catalogue is organised into data 'domains'. These are a grouping of data by subject area.</p>
                <p>When data is related to more than one domain, we have assigned it to the one that appears most relevant.</p>
                <p>Domains may be influenced by the organisational structure but they are intended to be narrower in scope than an entire agency.</p>
              </div>
            </details>
          {% endif %}
        </div>
      </div>
    </main>

{% endblock main %}
