{% extends "base/base.html" %}
{% load static %}
{% load waffle_tags %}

{% block main %}
  <main class="main-wrapper-with-masthead" id="main-content" role="main">
    <div class="x-govuk-masthead x-govuk-masthead--large">
      <div class="govuk-width-container">
        <div class="govuk-phase-banner x-govuk-phase-banner--inverse" role="region" aria-label="New service information">
          <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag x-govuk-tag--inverse">
              Beta
            </strong>
            <span class="govuk-phase-banner__text">
              This is a new service. Help us improve it and <a class="govuk-link govuk-link--inverse" href="{% url 'feedback:feedback' %}" rel="noreferrer noopener" target="_blank">give your feedback (opens in new tab)</a>.
            </span>
          </p>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="x-govuk-masthead__title">Discover data from across the Ministry of Justice</h1>
            <p class="x-govuk-masthead__description" style="color: white;">
              Find MoJ Data shows you what data exists and how to access it.
              The service does not contain the data itself, only metadata – data which describes our assets. <a aria-label="Learn more about Find MoJ data" href="https://user-guide.find-moj-data.service.justice.gov.uk/">Learn more</a>
            </p>

            <form action="{% url 'home:search' %}" method="get" role="search" class="govuk-!-margin-bottom-0"
              onsubmit="gtag('event', 'search', {'search_term': this.querySelector('#search-input').value});">
              <div
                class="app-search app-search--compact app-search--on-govuk-blue govuk-form-group govuk-!-padding-bottom-0 govuk-!-margin-bottom-2"
              >
                <input id="search-input" name="query" class="search-input govuk-input" type="search" aria-label="Search input"/>
                <button type="submit" aria-label="Search button">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 36 36"
                    width="40"
                    height="40"
                  >
                    <path
                      d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-main-wrapper">
      <div class="govuk-width-container app-width-container">
        {% flag "home_variant_a" %}
          {% include 'partial/home/subject_area_grid.html' %}
        {% else %}
          {% flag "home_variant_b" %}
          {% include 'partial/home/subject_area_list.html' %}
          {% else %}
          {% include 'partial/home/old_design.html' %}
          {% endflag %}
        {% endflag %}
      </div>
    </div>
  </main>

{% endblock main %}
