{% extends "base/base.html" %}
{% load static %}

{% block main %}
  <main class="main-wrapper-with-masthead" id="main-content" role="main">
    <div class="app-masthead">
      <div class="govuk-width-container app-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl app-masthead__title">Discover data from across the Ministry of Justice</h1>
            <p class="govuk-body-l" style="color: white;">
              Find MoJ Data shows you what data exists and how to access it.
              The service does not contain the data itself, only metadata – data which describes our assets. <a aria-label="Learn more about Find MoJ data" href="https://user-guide.find-moj-data.service.justice.gov.uk/">Learn more</a>
            </p>

            <form action="{% url 'home:search' %}" method="get" role="search" class="govuk-!-margin-bottom-0"
              onsubmit="gtag('event', 'search', {'search_term': this.querySelector('#search-input').value});">
              <div
                class="app-search app-search--compact app-search--on-govuk-blue govuk-form-group govuk-!-padding-bottom-0 govuk-!-margin-bottom-2"
              >
                <input id="search-input" name="query" class="search-input govuk-input" type="search" aria-label="Search input"/>
                <button type="submit" aria-label="Search button">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 36 36"
                    width="40"
                    height="40"
                  >
                    <path
                      d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-width-container app-width-container">
        <div class="govuk-grid-row">
          <!-- VARIANT B BEGINS -->
          <div class="govuk-grid-column-two-thirds govuk-!-static-margin-bottom-6">
            <div class="app-cards">
            <h2 id="browse-by-subject-area" class="govuk-heading-l">Browse by subject area</h2>
            <ul id="subject-area-list" class="app-cards__list app-cards__list--one-column">
              {% for subject_area in subject_areas  %}
                <li class="app-cards__list-item">
                  <div class="app-cards__list-item-wrapper">
                    <h3 class="app-cards__subheading govuk-heading-s"><a class="govuk-link app-cards__link" aria-label="Browse data for {{subject_area.name}} ({{subject_area.total}} result{{ subject_area.total|pluralize }})" href="{% url 'home:search' %}?subject_area={{subject_area.urn|urlencode:":"}}">{{subject_area.name}} ({{subject_area.total}} result{{ subject_area.total|pluralize }})</a></h3>
                    <p class="govuk-body app-cards__description">{% lorem 5 w %}</p>
                  </div>
                </li>
              {% endfor %}
            </ul>
            </div>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-l">Help us grow</h2>
            <ul class="govuk-list govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-4"><a href="https://user-guide.find-moj-data.service.justice.gov.uk/#adding-to-find-moj-data">Add a new data source</a></li>
              <li class="govuk-!-margin-bottom-4"><a href="https://user-guide.find-moj-data.service.justice.gov.uk/#contact-us">Suggest data you would like to see</a></li>
              <li class="govuk-!-margin-bottom-4"><a href="https://find-moj-data.service.justice.gov.uk/feedback/">Give us feedback</a></li>
            </ul>
          </div>
        </div>
        <!-- VARIANT B ENDS -->
      </div>
    </div>
  </main>

{% endblock main %}
