{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form action="/search" method="get" role="search" class="search__form govuk-!-margin-bottom-4">
            <div class="govuk-form-group">
              <h1 class="govuk-heading-xl">Find MOJ Data</h1>
              <div class="search-container">
                <input name="search" class="govuk-input search-input" id="searchForm-search" type="search" value="">
                <button class="search-button" type="submit">
                  <svg aria-hidden="true" class="search-icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="40" height="40"><path d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z" fill="currentColor"></path>
                  </svg><span class="govuk-visually-hidden">Search</span>
                </button>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="govuk-grid-row">
      {% include "partial/filter.html" %}
      <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l govuk-!-display-inline-block">236 Results</h2>
          <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-left-5">
            <label class="govuk-label" for="sort">
              Sort by
            </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="published">Recently published</option>
              <option value="updated" selected>Recently updated</option>
              <option value="views">Most views</option>
              <option value="comments">Most comments</option>
            </select>
          </div>
      </div>
    </div>
  </main>
</div>
{% endblock content %}
