{% extends "base/base.html" %}
{% load static %}
{% load markdown %}
{% load humanize %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{% url 'home:search' %}" method="get" role="search" class="search__form govuk-!-margin-bottom-4" id="searchform">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">Find MOJ Data</h1>
          <div class="search-container">
            <label for="{{ form.query.id_for_label }}" class="govuk-label govuk-visually-hidden-focusable">Search MOJ Data</label>
            {{ form.query }}
            <button class="search-button" type="submit" id="search-button">
              <svg aria-hidden="true" class="search-icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="40" height="40">
                <path d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z" fill="currentColor"></path>
              </svg>
              <label for="search-button" class="govuk-label govuk-visually-hidden-focusable">Search MOJ Data</label>
            </button>
          </div>
        </div>
      </form>
    </div>
</div>
<div class="govuk-grid-row">
  {% include "partial/filter1.html" %}
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-display-inline-block" id="result-count">{{total_results|intcomma}} Results</h2>
      {% include "partial/sort.html" %}
      {% include "partial/search_result.html" %}
      {% include "partial/pagination.html" %}
    </div>
</div>
{% endblock content %}
