{% extends "base/base.html" %}
{% load static %}
{% load markdown %}
{% load humanize %}
{% load waffle_tags %}
{% load i18n %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{% url 'home:search' %}" method="get" role="search" class="search__form govuk-!-margin-bottom-4" id="searchform">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">{{h1_value}}</h1>
          <div class="app-search app-search--compact">
            <label for="{{ form.query.id_for_label }}" class="govuk-label govuk-visually-hidden-focusable">{% translate "Search MOJ data" %}</label>
            {{ form.query }}
            <button class="search-button" type="submit" id="search-button">
              <svg aria-hidden="true" class="search-icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="40" height="40">
                <path d="M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z" fill="currentColor"></path>
              </svg>
              <label for="search-button" class="govuk-label govuk-visually-hidden-focusable">{% translate "Search MOJ data" %}</label>
            </button>
          </div>
        </div>
      </form>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            {% translate "Search query tips" %}
          </span>
        </summary>
        <div class="govuk-details__text">
          {# Search query tips (when expanded) #}
          {% blocktranslate trimmed with more_examples_href="https://datahubproject.io/docs/how/search/#advanced-queries" %}
            <ul class="govuk-list govuk-list--bullet">
              <li><p>Use multiple words to narrow down your search.</p><p>For example: <strong>prisons probation</strong> matches data mentioning "prisons" AND "probation".</p></li>
              <li><p>Separate words with a pipe to broaden your search.</p><p>For example: <strong>prisons | probation</strong> matches data mentioning "prisons" OR "probation".</p></li>
              <li><p>Quote phrases to require an exact match.</p><p>For example: <strong>"case management"</strong> matches the exact phrase "case management" but not either word on its own.</p></li>
              <li><p>Use a minus sign to exclude words.</p><p>For example: <strong>courts -magistrates</strong> excludes any results that mention "magistrates".</p></li>
            </ul>
            <p><a href="{{ more_examples_href }}">More search query examples</a></p>
          {% endblocktranslate %}
        </div>
      </details>
    </div>
  </div>
  <div class="govuk-grid-row">
    {% include "partial/filter.html" %}
    <div class="govuk-grid-column-two-thirds">
      {% if results %}
        <h2 class="govuk-heading-l govuk-!-display-inline-block" id="result-count">{{total_results_str|intcomma}} results</h2>
      {% else %}
        {% include "partial/no_results.html" %}
      {% endif %}
      {% switch 'search-sort-radio-buttons' %}
        {% include "partial/sort.html" %}
      {% endswitch %}
      {% include "partial/search_result.html" %}
      {% include "partial/pagination.html" %}
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script type="module">
    import {initDomainFilter} from "{% static 'assets/js/enhanced-search.js' %}"
    initDomainFilter();
  </script>
{% endblock scripts %}
