{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">User guide</h1>
    </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <nav class="moj-side-navigation" aria-label="Side navigation">
        {% for header, header_slug, subheaders in sidebar %}
        <h4 class="moj-side-navigation__title">{{ header }}</h4>
            {% if subheaders %}
            <ul class="moj-side-navigation__list" id="single-select">
                {% for subheader in subheaders %}
                    <li class="moj-side-navigation__item govuk-!-margin-left-2">
                        <a href="{% url 'userguide:userguide_detail' slug=header_slug %}#{{ subheader|slugify|lower }}"> - {{ subheader }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            </ul>
        {% endfor %}
    </nav>
  </div>
  <div class="govuk-grid-column-three-quarters" style="border-left: 2px solid #b1b4b6;">
        {{ content|safe }}
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'assets/js/enhanced-userguide.js' %}"></script>
{% endblock scripts %}
