{% load i18n %}

<div class="govuk-body">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% translate "Access requirements" %}</h2>
  {% if access_requirements %}
    {% if is_access_url %}
      <p class="govuk-body"><a id="request-access" href="{{ access_requirements }}" class="govuk-link" rel="noreferrer noopener" target="_blank">{% translate "Click link for access information (opens in new tab)" %}</a></p>
    {% else %}
      <p id="request-access">{{ access_requirements }} </p>
    {% endif %}
  {% elif slack_channel.dc_slack_channel_url %}
    <p id="request-access">{% translate "Please use contact channels to request access." %}</p>
  {% elif data_owner_email %}
    <p id="request-access">{% translate "Please contact the data owner for access information." %}</p>
  {% else %}
    <p id="request-access"> {% translate "Not provided" %} </p>
  {% endif %}
</div>
<!-- placeholder until we have more contact channels than just slack -->
{% if slack_channel.dc_slack_channel_url %}
  <div class="govuk-body">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% translate "Contact channels for questions" %}</h2>
    <p class="govuk-body">
      {% if slack_channel %}
        <!-- This should become a list of populated contact channels -->
        Slack channel: <a href="{{ slack_channel.dc_slack_channel_url }}" class="govuk-link" rel="noreferrer noopener" target="_blank">{{ slack_channel.dc_slack_channel_name }} (opens in new tab)</a>
      {% else %}
        {% translate 'Not provided'}
      {% endif %}
    </p>
  </div>
{% endif %}
<div class="govuk-body">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% translate "IAO or Data Owner" %}</h2>
  <p class="govuk-body">
    {{ data_owner_email|urlize|default:_('Not provided') }}
  </p>
</div>
