{% load i18n %}

<div class="govuk-body">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% translate "Access requirements" %}</h2>
  <p id="request_access" class="govuk-body">

    {% if access_requirements %}
      {% if is_access_url %}
        <a onclick="gtag('event', 'click_access_link', {'entity_name': '{{ entity_name }}'})" href="{% url 'home:redirect' %}?url={{ access_requirements }}" class="govuk-link" rel="noreferrer noopener" target="_blank">{% translate "Click link for access information (opens in new tab)" %}</a>
      {% else %}
        {{ access_requirements }}
      {% endif %}
    {% elif governance.data_custodians or governance.data_owner.email %}
      {% translate "Please contact the data custodian for access information." %}
    {% else %}
      {% translate "Not provided" %}
    {% endif %}
  </p>
</div>
<!-- placeholder until we have more contact channels than just slack -->

<div class="govuk-body">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% translate "Contact channels for questions" %}</h2>
  <ul id="contact_channels" class="govuk-list">
    {% if further_information.dc_slack_channel_url %}
      <li id="contact_channels_slack">
      <a href="{{ further_information.dc_slack_channel_url }}" class="govuk-link" rel="noreferrer noopener" target="_blank">Slack (opens in new tab)</a>
      </li>
    {% endif %}
    {% if further_information.dc_teams_channel_url %}
      <li id="contact_channels_ms_teams">
      <a href="{{ further_information.dc_teams_channel_url }}" class="govuk-link" rel="noreferrer noopener" target="_blank">MS Teams (opens in new tab)</a>
      </li>
    {% endif %}
    {% if further_information.dc_team_email %}
      <li id="contact_channels_team_email" >{{ further_information.dc_team_email|urlize }}</li>
    {% endif %}

    {% if not further_information.dc_teams_channel_url and not further_information.dc_slack_channel_url and not further_information.dc_team_email %}
      {% if governance.data_custodians or governance.data_owner.email %}
      <li id="contact_channels_data_owner">{% translate "Contact the data custodian with questions." %}</li>
      {% else %}
      <li id="contact_channels_not_provided">{% translate "Not provided" %}</li>
      {% endif %}
    {% endif %}
  </ul>
</div>

{% if governance.data_custodians and governance.data_custodians.0.email %}
<div class="govuk-body">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% translate "Data custodian" %}</h2>
  <p id="data_owner" class="govuk-body">
      {{ governance.data_custodians.0.email|urlize }}
  </p>
</div>
{% else %}
<div class="govuk-body">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{% translate "Data custodian" %}</h2>
  <p id="data_owner" class="govuk-body">
    {% if governance.data_owner.email %}
      {{ governance.data_owner.email|urlize }}
    {% elif platform.urn == PlatformUrns.PERFORMANCE_HUB %}
      No owner is listed as this data is undergoing a review of ownership.
    {% else %}
      {% blocktranslate %}Not provided - <a href="https://moj.enterprise.slack.com/archives/C06NPM2200N" class="govuk-link" rel="noreferrer noopener" target="_blank">contact the Data Catalogue team</a> about this data.{% endblocktranslate %}
    {% endif %}
  </p>
</div>
{% endif %}

{% if NOTIFY_ENABLED and entity_name %}
  <div class="govuk-body">
    <a type="button" class="govuk-button" href="{% url 'feedback:report-issue' %}?entity_name={{ entity_name }}&data_custodian_email={{ governance.data_owner.email|urlencode }}&entity_url={{ request.build_absolute_uri}}" class="govuk-link">Report an issue</a>
  </div>
{% endif %}
