<div class="govuk-body">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">IAO or Data Owner</h2>
    <p class="govuk-body">
    {{data_owner}}<br>
    {{data_owner_email|urlize}}
    </p>
</div>
<div class="govuk-body">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Contact for access requirement</h2>
    <p class="govuk-body">
      {{data_owner_email|urlize}}
    </p>
  </div>
<div class="govuk-body">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Access requirements</h2>
    <p class="govuk-body">
      Processing the data might require
      permission from IAO or Data owner.
    </p>
</div>