{% load i18n %}

<p class="govuk-body">
    {% blocktranslate %}If the problems persist, <a href="https://moj.enterprise.slack.com/archives/C06NPM2200N" class="govuk-link">
    contact #ask-data-catalogue on slack</a>
    or <a href="https://teams.microsoft.com/l/channel/19%3Abb91d2a728a54472a41629ee6f2908ea%40thread.tacv2/Ask%20Data%20Catalogue?groupId=f6c3cb3b-591c-4e47-9997-25b6dc9bf5b6&tenantId=c6874728-71e6-41fe-a9e1-2e8c36776ad8"
    class="govuk-link"> MS Teams</a>.
    {% endblocktranslate %}
</p>
