<div class="govuk-grid-column-one-third">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
        <div class="moj-filter__header-action">
        </div>
      </div>
    
      <div class="moj-filter__content">
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
            <div class="moj-filter__heading-title">
              <h2 class="govuk-heading-m">Selected filters</h2>
            </div>
            <div class="moj-filter__heading-action">
              <p>
                <a class="govuk-link govuk-link--no-visited-state"
                   href="#"
                   value="clear"
                   id="clear_filter">
                    Clear filters
                </a>
            </p>
            </div>
          </div>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Domain</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag govuk-link" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> HMPPS</a></li>
          </ul>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">DPIA Status</h3>
          <ul class="moj-filter-tags">
            <li><a class="moj-filter__tag govuk-link" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Completed</a></li>
          </ul>
        </div>
        <div class="moj-filter__options">
          <form action="{% url 'home:filter' %}" method="post" >
            {% csrf_token %}
            <button type="submit" class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
              Apply filters
            </button>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Domain</legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  {% for option in domainlist%}
                      <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="type-{{ option|lower }}" name="type" type="checkbox" value="{{ option|lower }}" {% if option|lower in selected_domain %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="type-{{ option|lower }}">{{ option }}</label>
                      </div>
                  {% endfor %}
                </div>
              </fieldset> 
            </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">DPIA status</legend>
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              {% for option in dpia_list%}
                  <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="dpia-{{ option|lower }}" name="dpia" type="checkbox" value="{{ option|lower }}" {% if option|lower in selected_dpia %}checked{% endif %}>
                      <label class="govuk-label govuk-checkboxes__label" for="dpia-{{ option|lower }}">{{ option }}</label>
                  </div>
              {% endfor %}
            </div>
          </fieldset>
          
          </div>
        </form>
        </div>
      </div>
    </div>
</div>
