{% load clear_filter %}
<div class="govuk-grid-column-one-third">
  <div class="moj-filter">
    <div class="moj-filter__header">
      <div class="moj-filter__header-title">
        <h2 class="govuk-heading-m">Filter</h2>
      </div>
      <div class="moj-filter__header-action">
      </div>
    </div>
    <div class="moj-filter__content">
      {% if remove_filter_hrefs|get_keys|length > 0 %}
        {% include "partial/selected_filters.html" %}
      {% endif %}
      <div class="moj-filter__options">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Subject area</legend>
            <div class="govuk-form-group">
              {{ form.subject_area }}
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Entity types</legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              {% for entity_type in form.entity_types %}
                <div aria-label="selection will trigger the filter and refresh the search results" class="govuk-checkboxes__item">
                  {{ entity_type.tag}}
                  <label class="govuk-label govuk-checkboxes__label" for="{{ entity_type.id_for_label }}">{{entity_type.choice_label}}</label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Tags</legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              {% if tags %}
                {% for tag in tags %}

                  <div aria-label="selection will trigger the filter and refresh the search results"
                       class="govuk-checkboxes__item">
                    <input type="checkbox" name="tags" value="{{ tag.name }}"
                           class="govuk-checkboxes__input" form="searchform"
                           onchange="document.getElementById('searchform').submit();" id="id_tags_{{ forloop.counter0 }}" {% if tag.slug in request.get_full_path %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label"
                           for="id_tags_{{ forloop.counter0 }}">  {{ tag.name }}
                    </label>
                  </div>
                {% endfor %}
              {% else %}
                No Tags
              {% endif %}
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
