*.pyc
*.rdb
*.sw?
*.taskpaper
.cache
.circleci
.coverage
.ctagsignore
.env
.github
.gitignore
.pytest_cache
.python-version
.ropeproject
.vscode/
Jenkinsfile
LICENSE
Makefile
README.md
__pycache__
doc
docker-compose.yaml
govuk-frontend
node_modules
run
tags
venv
coverage/
staticfiles/
