name: 'Check for Vulnerabilities'

on:
  schedule:
    - cron: '0 0 * * 1-5' # every weekday at midnight

permissions: read-all

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      security-events: write
    steps:
      - uses: kunalnagarco/action-cve@v1.14.17
        with:
          token: ${{ secrets.VULN_CHECK_PERSONAL_ACCESS_TOKEN }}
          slack_webhook: ${{ secrets.VULN_CHECK_SLACK_WEBHOOK }}
          severity: high,critical
