name: Create issue for periodic database housekeeping
permissions:
    issues: write

on:
    workflow_dispatch:
    schedule:
        # Every 3 months
        - cron: "0 0 1 1,4,7,10 *"

jobs:
    create_issue:
        runs-on: ubuntu-latest
        env:
            GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        steps:
            - uses: actions/checkout@v6
            - name: Create issue
              run: |
                  now=$(date +'%Y-%m-%d')
                  title=" :construction: Periodic Database Housekeeping Tasks"
                  label="House Keeping"
                  project="Data Catalogue"
                  assignee="DeanWillicombe82,mkjmckinlay,kmalik-justice-digital"
                  body="It's time to perform the scheduled database housekeeping tasks to ensure optimal performance and maintenance.
                  Please remember to follow the steps outlined [here](https://runbooks.find-moj-data.service.justice.gov.uk/documentation/runbooks/020-house-keeping.html#house-keeping)."

                  gh issue create --title "${title}" --body "${body}" --label "${label}" --assignee "${assignee}" --project "${project}"
