name: Deploy to Dev from branch

on:
  workflow_dispatch:
    inputs:
      run-tests:
        description: 'Run code tests'
        required: false
        type: boolean

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-tests:
    if: ${{ inputs.run-tests }}
    uses: "./.github/workflows/reusable-tests.yml"

  build:
    permissions:
      contents: read
      id-token: write
    if: ${{ always() && !failure() && !cancelled() }} # don't skip if tests are skipped
    uses: "./.github/workflows/reusable-build.yml"
    secrets:
      slack_alert_webhook: ${{ secrets.SLACK_ALERT_WEBHOOK }}

  deploy-dev:
    permissions:
      contents: read
      deployments: write
      id-token: write
    needs: build
    uses: "./.github/workflows/reusable-push-and-deploy.yml"
    with:
      env: "dev"
    secrets:
      kube_namespace: ${{ secrets.KUBE_NAMESPACE }}
      kube_cert: ${{ secrets.KUBE_CERT }}
      kube_cluster: ${{ secrets.KUBE_CLUSTER }}
      kube_token: ${{ secrets.KUBE_TOKEN }}
      ecr_role_to_assume: ${{ secrets.DEV_ECR_ROLE_TO_ASSUME }}
      secret_key: ${{ secrets.SECRET_KEY }}
      catalogue_token: ${{ secrets.CATALOGUE_TOKEN }}
      slack_alert_webhook: ${{ secrets.SLACK_ALERT_WEBHOOK }}
      azure_client_secret: ${{ secrets.AZURE_CLIENT_SECRET }}
      notify_api_key: ${{ secrets.NOTIFY_API_KEY }}
      limit_whitelist: ${{ secrets.LIMIT_WHITELIST }}
      STAFF: ${{ secrets.STAFF }}
