name: Create issue for push to prod
permissions:
  issues: write
on:
  schedule:
    # Runs on the 1st and 15th of each month at 9AM
    - cron: "0 9 1,15 * *"

jobs:
  create_issue:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Create issue
        env:
          label: "push to prod"
        run: |
          now=$(date +'%Y-%m-%d')
          title=":rocket: Deploy to production: $now"
          body="Simply [push the latest](https://github.com/ministryofjustice/find-moj-data/actions/workflows/deploy-staged.yml) working dev version through to prod. This does not include a release"

          gh issue create --title "${title}" --body "${body}" --label "${label}"
