name: Run tests

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
  workflow_call:
    secrets:
      staff:
        description: "string of comma delimited email addresses"
        required: true

permissions:
  contents: read

jobs:
  python-tests:
    name: Python tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Install UV & Python
        id: setup-uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.7.17"
          python-version: "3.13.5"
      - name: Install project
        run: |
          make install_python_deps
          make install_npm_deps
          sudo apt-get install gettext

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.3"

      - name: Get npm cache directory
        id: npm-cache-dir
        run: make export_npm_cache_dir

      - name: Load cached npm
        uses: actions/cache@v5
        with:
          path: $(cat .npm_cache_dir)
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Build frontend assets
        run: make assets

      - name: Run unit tests with coverage
        id: fast-tests
        env:
          DJANGO_ALLOWED_HOSTS: "localhost testserver"
          STAFF: ${{ secrets.STAFF }}
        run: TESTING=True uv run pytest --cov -m 'not slow and not datahub' --doctest-modules

      - name: Set up chromedriver
        # https://github.com/marketplace/actions/setup-chromedriver
        uses: nanasess/setup-chromedriver@v2.3.0

      - name: Run integration tests
        id: slow-tests
        if: steps.fast-tests.outcome == 'success'
        run: make integration

  javascript-only-tests:
    name: Javascript tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.3"

      - name: Get npm cache directory
        id: npm-cache-dir
        run: make export_npm_cache_dir

      - name: Load cached npm
        uses: actions/cache@v5
        with:
          path: $(cat .npm_cache_dir)
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        id: install_dependencies
        run: npm install

      - name: Run javascript tests
        run: npm test
